// Hues ---------------------------------------------------
@syntax-uno:    270;    // hsl(190, 75%, 50%)
@syntax-duo:    190;    // hsl(270, 75%, 50%)

// Base colors --------------------------------------------
@syntax-accent: @duo-2;
@syntax-fg:     @uno-2;
@syntax-bg:     hsl(200, 33%, 100%);
@syntax-guide:  darken(@syntax-bg, 10%);

// Language colors ----------------------------------------
// Uno hues -----------------------------------------------
@uno-1: hsl(@syntax-uno, 95%, 15%);
@uno-2: hsl(@syntax-uno, 50%, 40%);
@uno-3: hsl(@syntax-uno, 30%, 55%);
@uno-4: hsl(@syntax-uno, 20%, 66%);

// Duo hues -----------------------------------------------
@duo-1: hsl(@syntax-duo, 95%, 15%);
@duo-2: hsl(@syntax-duo, 50%, 50%);
@duo-3: hsl(@syntax-duo, 20%, 66%);
